<%- include('partials/head') %>

<h1>Insert Students Into The System</h1>
<form action="/students" method="post">
	<label for="name">Name of The Student:</label>
	<input type="text" name="name" id="name" />
	<label for="index">Index Number:</label>
	<input type="number" name="index" id="index" />
	<label for="index">Password:</label>
	<input type="text" name="password" id="password" />
	<button type="submit">Save Details</button>
</form>

<%- include('partials/head') %>
