<%- include('partials/head') %>
<main class="home">
      <h2>Welcome to Attendence Marking System</h2>
      <ul>
            <li><a href="/enter/users">Enter New users</a></li>
            <li><a href="/qr/generate">Generate QR Code</a></li>
            <li><a href="/attendence/check">Check Attendence</a></li>
      </ul>
</main>




<%- include('partials/head') %>