<%- include('partials/head') %>


<form action="/qr" method="post">
      <label for="">Insert Subject Code</label>
      <input type="text" name="subjectcode"/>
      <label for="">Insert Password Code</label>
      <input type="text" name="password"/>
      <button type="submit">Generate QR</button>

      
</form>




<%- include('partials/head') %>